@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
*{
  box-sizing: border-box;
}

body{
  direction: rtl;
  text-align: right;
  background-color: #B0BEC5;
}
.content{
  margin-top: 40px;
}